.login-form{
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.login-form img{
    width: 500px;
    margin-bottom: 100px;
}

.image-login{
    background-image: url('http://localhost:8000/images/protecnica.png ');
    background-position: center; /* Center the image */
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 40px;
}

.navbar-brand img {
    width: 50px;
}

.input-group-text {
    background-color: white;
}

.input-group-text img{
    width: 20px;
}

.search{
    width: 500px;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}


